<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="rect_obj">
    <xacro:arg name="prefix" default="" />

    <xacro:include filename="rect_obj_core_corr.xacro"/>
    <xacro:include filename="lidar_corr_rect_obj.xacro"/>
    <xacro:include filename="camera_corr_rect_obj.xacro"/>
    <xacro:include filename="imu_corr_rect_obj.xacro"/>


    <!--xacro:rect_obj prefix="$(arg prefix)"/>
    <xacro:lidar_module prefix="$(arg prefix)"/>
    <xacro:camera_module prefix="$(arg prefix)"/>
    <xacro:imu_module prefix="$(arg prefix)"/-->




    <xacro:rect_obj prefix=""/>
    <xacro:lidar_module prefix=""/>
    <xacro:camera_module prefix=""/>
    <xacro:imu_module prefix=""/>



</robot>
